::-webkit-scrollbar {
  display: none; /* Chrome Safari */
}

#difference-chart {
  height: 27.2vh;
}
.legend-text {
  fill: #fff;
  font-size: 10px;
  text-anchor: middle;
}

.diff-left-right-text {
  text-anchor: middle;
  font-size: 8px;
  font-weight: bold;
}

.data-text {
  text-anchor: middle;
  font-size: 6px;
}

.inner-radar-text {
  text-anchor: middle;
  font-size: 8px;
}

#diff-all-chart {
  display: flex;
  flex-direction: row;
}
