#layout {
  height: 100vh;
  width: 100vw;
  background-color: #fff;
  display: flex;
}

/* 两栏 发现团伙 分析团伙 */
#identifygroup {
  height: 100%;
  flex: 3;
  background-color: antiquewhite;
  display: flex;
  padding-right: 4px;
}

#analyzegroup {
  height: 100%;
  flex: 2;
  background-color: cadetblue;
  display: flex;
  flex-direction: column;
  padding-left: 4px;
}

/* 发现团伙板块的左右两栏 */
#ileft {
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: violet;
  padding-right: 4px;
}

#iright {
  height: 100%;
  flex: 2;
  display: flex;
  flex-direction: column;
  background-color: darkolivegreen;
  padding-left: 4px;
}

/* 发现团伙板块 左边栏 */
#titlebar {
  width: 100%;
  flex: 1;
  background-color: aqua;

  line-height: 40px;
  font-size: 25px;
  text-align: left;
  font-weight: bolder;
  padding-bottom: 4px;
}

#searchbar {
  width: 100%;
  flex: 1;
  background-color: thistle;
  padding-top: 4px;
  padding-bottom: 4px;
}

#filteric {
  width: 100%;
  flex: 12;
  background-color: brown;
  padding-top: 4px;
  padding-bottom: 4px;
}

#nodelinkic {
  width: 100%;
  flex: 6;
  background-color: darkblue;
  padding-top: 4px;
}

/* 发现团伙板块 右边栏 */
#container-mainmap {
  width: 100%;
  flex: 14;
  display: flex;
  flex-direction: column;
  background-color: yellowgreen;
}

#compareic {
  width: 100%;
  flex: 6;
  background-color: gold;
  padding-top: 4px;
}

#controlmainmap {
  width: 100%;
  flex: 1;
  background-color: wheat;
  padding-bottom: 4px;
}

#mainmap {
  width: 100%;
  flex: 13;
  background-color: silver;
  padding-top: 4px;
  padding-bottom: 4px;
}

/* 分析团伙板块 */
#infotable {
  width: 100%;
  flex: 3;
  background-color: azure;
  padding-bottom: 4px;
}

#statistic {
  width: 100%;
  flex: 7;
  background-color: gray;
  padding-top: 4px;
  padding-bottom: 4px;
}

#assetandpath {
  width: 100%;
  flex: 7;
  background-color: rebeccapurple;
  padding-top: 4px;
  padding-bottom: 4px;
}

#conclusion {
  width: 100%;
  flex: 3;
  background-color: royalblue;
  padding-top: 4px;
}
