.lasso path {
    stroke: rgb(80,80,80);
    stroke-width:2px;
}

.lasso .drawn {
    fill-opacity:.05 ;
}

.lasso .loop_close {
    fill:none;
    stroke-dasharray: 4, 4;
}

.lasso .origin {
    fill:#3399FF;
    fill-opacity:.5;
}

.not_possible {
    fill:rgb(200,200,200);
}

.possible {
    fill:#fe2236;
    opacity: 0.5;
}

.selected {
  fill: #bcd981;
  opacity: 0.5;
}

.d3-context-menu{
    position:relative;
    width: 120px;
    height: 30px;
    border-radius: 7px;
    padding-top: 5px;
    background: rgba(0,0,0, 0.3);
    color: white;
}
.d3-context-menu ul{
    padding-left: 35px;
}

.d3-context-menu:hover{
    background: rgba(0,0,0, 0.6);
}